@import url('./fonts.css');
@import 'tailwindcss';

/* @theme {
  --font-ptsans: "PT Sans", sans-serif;
} */

body {
  padding: 0 calc(15px - (100vw - 100%)) 0 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

/* For Chrome, Safari, Edge, Opera */
input.quantity-input::-webkit-outer-spin-button,
input.quantity-input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'].quantity-input {
  appearance: textfield;
  -moz-appearance: textfield;
}

.v-lazy-image {
  filter: blur(20px);
  transition: filter 0.7s;
}

.v-lazy-image-loaded {
  filter: blur(0);
}
